venv
venv/
__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyz
*.pywz
*.pyzw
.pytest_cache/
.venv/
.venv-build/
syncwatch_mvp/build/
syncwatch_mvp/dist/
/Точечный рисунок*.bmp
/SyncWatch.exe
/SyncWatch-Windows-*.zip
